# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
.turbo
dist
build
out

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.vercel

# TypeScript
*.tsbuildinfo

# Prisma
packages/database/generated
